<div class="container mt-4">
  <h3>➕ Crear nuevo Modelo</h3>

  <form (ngSubmit)="guardar()" #form="ngForm">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input id="nombre" name="nombre" [(ngModel)]="modelo.nombre" required class="form-control">
    </div>

    <div class="mb-3">
      <label for="marca" class="form-label">Marca</label>
      <select id="marca" name="idMarca" [(ngModel)]="modelo.idMarca" required class="form-select">
        <option [ngValue]="0" disabled selected>Seleccionar marca...</option>
        <option *ngFor="let m of marcas" [ngValue]="m.id">{{ m.nombre }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="form.invalid">Guardar</button>
    <button type="button" class="btn btn-secondary ms-2" routerLink="/equipos/modelos">Cancelar</button>
  </form>
</div>
