
<div class="recuperar-page">
  <div class="overlay"></div>
  <div class="card">
    <h2>{{ 'auth.reset.title' | translate }}</h2>
    <p>{{ 'auth.reset.subtitle' | translate }}</p>

    <form (ngSubmit)="submit()" [formGroup]="form">
      <label for="email">{{ 'auth.reset.email.label' | translate }}</label>
      <input type="email" id="email" name="email" formControlName="email" [placeholder]="'auth.reset.email.placeholder' | translate" required />

      
      <label for="password">{{ 'auth.reset.password.label' | translate }}</label>
      <input type="password" id="password" name="password" formControlName="password" [placeholder]="'auth.reset.password.placeholder' | translate" required />

      

      <label for="confirm">{{ 'auth.reset.confirm.label' | translate }}</label>
      <input type="password" id="confirm" name="confirm" formControlName="confirm"  [placeholder]="'auth.reset.confirm.placeholder' | translate" required />

      <button type="submit" [disabled]="loading || form.invalid">{{ loading ? ('auth.reset.actions.loading' | translate) : ('auth.reset.actions.submit' | translate) }}</button>

      <a routerLink="/auth/login"  class="volver">{{ 'auth.reset.backToLogin' | translate }}</a>
    </form>
    <div *ngIf="msg" class="chip" style="margin-top:1rem">{{ msg }}</div>
  

  </div>
  </div>

