frontend-obrasmart2/src/app/pages/obradores/pages/obrador-detalle-modal/obrador-detalle-modal.component.ts
frontend-obrasmart2/src/app/pages/obradores/pages/obrador-detalle-modal/obrador-detalle-modal.component.ts
/frontend-obrasmart2/src/app/pages/obradores/pages/obrador-detalle-modal
