/* 🔥 Fuerza absoluta del Toast */
.swal2-container {
  z-index: 999999999 !important;
  pointer-events: none !important;
}

.swal2-popup {
  pointer-events: auto !important;
}

/* 📍 Padding para que NO quede detrás del modal */
.swal2-top-end {
  top: 1.5rem !important;
  right: 1.5rem !important;
}

/* Layout base para fijar el footer al fondo */
html,
body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}
