<!-- <h3>Datos Bancarios</h3>

<div class="form-grid">
  <div class="form-group">
    <label>Banco</label>
    <input [(ngModel)]="data.banco" class="form-input" />
  </div>

  <div class="form-group">
    <label>Tipo de Cuenta</label>
    <select [(ngModel)]="data.tipoCuenta" class="form-input">
      <option value="">Seleccionar...</option>
      <option>Caja de Ahorro</option>
      <option>Cuenta Corriente</option>
    </select>
  </div>

  <div class="form-group">
    <label>CBU / CVU</label>
    <input [(ngModel)]="data.cbu" class="form-input" />
  </div>
</div>

<div class="botones">
  <button class="btn-anterior" (click)="prev.emit()">← Anterior</button>
  <button class="btn-siguiente" (click)="next.emit()">Siguiente →</button>
</div>
 -->

 <!-- 🟩 BANCARIO -->
    <div *ngIf="tabActiva === 'bancario'" class="row g-3">
      <div class="col-md-6">
        <label>Banco</label>
        <input [(ngModel)]="nuevoProveedor.banco" class="form-input" />
      </div>

      <div class="col-md-6">
        <label>Tipo de Cuenta</label>
        <select [(ngModel)]="nuevoProveedor.tipoCuenta" class="form-input">
          <option value="">Seleccionar...</option>
          <option value="Caja de Ahorro">Caja de Ahorro</option>
          <option value="Cuenta Corriente">Cuenta Corriente</option>
        </select>
      </div>

      <div class="col-md-12">
        <label>CBU / CVU / Alias</label>
        <input
          [(ngModel)]="nuevoProveedor.cbu"
          placeholder="0000000000000000000000"
          class="form-input"
        />
      </div>
      <div class="col-span-2 text-end mt-4">
    <button class="btn-anterior" (click)="volver()">← Anterior</button>
    <button class="btn-siguiente" (click)="continuar()">Siguiente →</button>
  </div>
    </div>

