<div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
  <span>{{ title }}</span>
  <button
    class="btn btn-light btn-sm"
    [routerLink]="addLink">
    + Nueva {{ title | lowercase }}
  </button>
</div>


  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
        </tr>
      </tbody>
    </table>
  </div>

