<!-- 🟦 CATÁLOGO -->
    <div *ngIf="tabActiva === 'catalogo'" class="grid grid-1">
      <label
        ><input
          type="checkbox"
          [(ngModel)]="nuevoProveedor.tieneCatalogo"
          name="tieneCatalogo"
        />
        Tiene catálogo digital</label
      >

      <div *ngIf="nuevoProveedor.tieneCatalogo">
        <div class="form-group">
          <label>URL del Catálogo</label>
          <input
            type="url"
            [(ngModel)]="nuevoProveedor.urlCatalogo"
            name="urlCatalogo"
            placeholder="https://..."
            class="form-input"
          />
        </div>
        <div class="form-group">
          <label>Código de Cliente</label>
          <input
            type="text"
            [(ngModel)]="nuevoProveedor.codigoCliente"
            name="codigoCliente"
            placeholder="Tu código como cliente"
            class="form-input"
          />
        </div>
      </div>
    </div>
