<!-- <div class="container mt-4">
  <h2 class="text-center text-uppercase mb-3">Listado de Proveedores</h2>

  <div class="d-flex justify-content-between mb-3">
    <button class="btn btn-orange" (click)="crearNuevo()">
      <i class="bi bi-plus-circle"></i> Nuevo Proveedor
    </button>
    <button class="btn btn-secondary" (click)="refrescar()">
      <i class="bi bi-arrow-clockwise"></i> Actualizar
    </button>
  </div>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <table *ngIf="proveedores.length" class="table table-hover text-center shadow-sm">
    <thead class="table-dark">
      <tr>
        
        <th>Nombre</th>
        
        <th>Email</th>
        <th>Teléfono</th>
        <th>CUIT</th>
        <th>IVA</th>
        <th>Tipo</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of proveedores">
        
        <td>{{ p.nombre }}</td>
        
        <td>{{ p.email }}</td>
        <td>{{ p.telefono }}</td>
        <td>{{ p.cuit }}</td>
        <td>{{ p.condicionIVA }}</td>
        <td>{{ p.tipoProveedor }}</td>
        <td>
          <span class="badge" [ngClass]="p.activo ? 'bg-success' : 'bg-danger'">
            {{ p.activo ? 'Activo' : 'Inactivo' }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!proveedores.length" class="alert alert-warning text-center">
    No hay proveedores registrados.
  </div>
</div>
 -->

 <div class="contenedor">
  <div class="encabezado">
    <h1>Proveedores</h1>
    <button class="btn-nuevo" (click)="crearNuevo()">
      <i class="bi bi-plus-lg"></i> Nuevo Proveedor
    </button>
  </div>

  <div class="filtros">
    <div class="input-busqueda">
      <i class="bi bi-search"></i>
      <input
        type="text"
        placeholder="Buscar por nombre, CUIT o especialidad..."
      />
    </div>

    <select>
      <option value="todos">Todos los estados</option>
      <option value="Activo">Activo</option>
      <option value="Inactivo">Inactivo</option>
    </select>
  </div>

  <div class="tabla">
    <table>
      <thead>
        <tr>
          
          <th>Nombre</th>
          <th>Especialidad</th>
          <th>Contacto</th>
          
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>

     
    </table>
  </div>
</div>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
/>
